S3method(plot,lmdu)
S3method(plot,lpca)
S3method(plot,mru)
export(fastmbu)
export(fastmru)
export(lmdu)
export(lpca)
export(mru)
export(slowmru)
import(dplyr)
import(ggforce)
import(ggplot2)
import(ggrepel)
import(tidyverse)
importFrom(nnet,class.ind)
importFrom(stats,plogis)
importFrom(stats,rnorm)
importFrom(stats,runif)
useDynLib(lmap, .registration = TRUE)
